@media screen and  (min-width: 100px){
    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    #BACK{
        background-color: #4ea0e400;
        position: fixed;
        top: 0;
        left: 0;
        width: 1363px;
        height: 100%;
        z-index: -3;
        background-size: cover;
        background-position: center;
    }
    #top{
        background: linear-gradient(rgba(0, 0, 0, 0.719),#3591ce),url(images/grow.PNG);
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 1373px;
        z-index: -2;
    }
    .taskbar{
        width: 1349px;
        height: 150px;
        position: absolute;
        background-color: #4ea0e46e;
        border-radius:20px;
        z-index: 1;
        left: 10px;
        top: 10px;
    
    
    }
    .taskbar img{
        width: 180px;
        margin: 10px;
    }
    .logo-text{
        position: absolute;
        top: 35%;
        left: 15%;
        font-size: 300%;
        color:#fff;
    }
    .search{
        position: absolute;
        height: 60px;
        width: 650px;
        top: 7.5%;
        left: 30%;
    
    }
    #search-bar{
        position: absolute;
        top: 20%;
        height: 100px;
        width: 800px;
        background-color: #ffffff8d;
        border: 1px solid black;
        border-color: #4ea0e422;
        border-radius: 30px;
        padding-left: 50px;
        font-size: 300%;
    }
    #search-button{
        width: 70px;
        height: 70px;
        top: 35%;
        position: absolute;
        left: 730px;
        background-color: #357ace00;
        border: 1px solid black;
        border-color: #357ace00;
    }
    #search-button img{
        width: 70px;
        height: 70px;
    }
    #suggestions {
    list-style-type: none;
    background-color: #fffffffd;
    width: 790px;
    margin: 0;
    padding-left: 15px;
    padding-top: 25px;
    margin-top: 30vh;
    display: none;
    border-radius: 20px;
    text-decoration: none ;
    z-index: 9;
    }
    #suggestions li {
    background-color: #0045bba7;
    height: 150px;
    width: 750px;
    padding: 11px;
    padding-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom:25px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    z-index: 9;
    }
    #suggestions li a {
    color: #fff;
    text-decoration: none;
    font-size: 350%;
    width: 200%;
    height: 200%;
    font-weight: bolder;
    z-index: 9;
    }
    
    #suggestions li:hover {
    background-color: #0045bb;
    }
    .search-bar-active #suggestions {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    display: block; /* Show the suggestions box when search bar is active */
    }
    
    .sign-in{
        position: absolute;
        width: 100px;
        height: 45px;
        top: 25%;
        left: 1185px; 
        display: none;
    }
    .sign-in b{ 
        position: absolute;
        top: 30%;
        font-size: 160%;
        color: black;
    }
    .sign-in img{
        width: 30px;
        height: 30px;
        padding-left: 85px;
        padding-top: 7px;
    }
    #contact{
    position: absolute;
    width: 200px;
    height: 70px;
    top: 110%;
    left: 780px; 
    cursor: pointer;
}
#contact b{
    position: absolute;
    top: 40%;
    color: #ffffff;
    font-size: 300%;
    z-index:-1;
}
#contact img{
    width: 70px;
    height: 60px;
    padding-left: 190px;
    padding-top: 0px;
    display: none;
}

#contactnav{
    width: 500px;
    right: -500px;
    top: 45vh;
    background: #4ea0e4;
    z-index: 5;
    transition: 0.5s;
    text-align: left;
    border-radius: 50px;
    position: fixed;
    font-size: 230%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
    #contactnav p{
    font-size: 120%;
    color: #fff;
    padding: 50px;
    font-weight: bolder;
}
#about{
    position: absolute;
    width: 200px;
    height: 70px;
    top: 110%;
    left: 1130px; 
    cursor: pointer;
}
#about b{
    position: absolute;
    top: 40%;
    color: #ffffff;
    font-size: 300%;
    z-index:-1;
}
#about img{ 
    width: 60px;
    height: 60px;
    padding-left: 150px;
    padding-top: 0px;
    display: none;
}

#aboutnav{
    width: 500px;
    right: -500px;
    top: 45vh;
    background: #4ea0e4;
    z-index: 5;
    transition: 0.5s;
    text-align: left;
    font-size: 230%;
    font-weight: bolder;
    border-radius: 50px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#aboutnav p{
    font-size: 110%;
    color: #fff;
    padding: 50px;
}

    

    #menubtn{
        width: 200px;
        height: 200px;
        background: #4ea0e47e;
        text-align: center;
        position: fixed;
        right: 60px;
        top: 45vh;
        border-radius: 3px;
        z-index: 4;
        cursor: pointer;
        border-radius: 20px;
    }
    #menubtn img{
        width: 120px;
        margin-top: 55px;
    }
    
    #SideNav{
        width: 450px;
        height: 350vh;
        position: fixed;
        right: -450px;
        top: 0;
        background: #357acee7;
        z-index: 3;
        transition: 0.5s;
        text-align: left;
        border-radius: 10px;
    }
    #SideNav nav ul{
        padding-top: 460px;
    }
    
    #SideNav nav ul li{
        
        list-style: none;
        margin: 220px 100px;
        
    }
    #SideNav nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 300%;
        font-weight: bolder;
        
    }
    
    .banner-sqr p{
        width: 350px;
        height: 40vh;
        background-color: #ffffff4c;
        top: 55vh;
        position:absolute;
        left: 950px;
        border-radius: 50px;
        display: none;
    }
    .banner-sqr2 p{
        width: 350px;
        height: 20vh;
        background-color: #ffffff00;
        border: 1px solid black;
        border-color: #ffffff7b;
        top: 85vh;
        position:absolute;
        left: 800px;
        border-radius: 40px;
        display: none;
    }



    #top1{
        background-size: cover;
        background-position: center;
        height: 140vh;
        width: 1373px;
        position: absolute;
    }
    .anobox{
        width: 1373px;
        height: 135vh;
        background: linear-gradient(#3591ce,#3591ce35);
        position: absolute;
        border: 0px solid black;
        border-color: #3591ce00;
    }

    .top11 img{
        width: 600px;
        margin-top: -25vh;
        margin-left: 700px;
        height: 90vh;
        position: absolute;
        background-color: #ffffff80;
        border-radius: 30px;
        border: 1px solid black;
        border-color: #fff;
    }
    .top11-txt p{
        width: 900px;
        height: 8vh;
        margin-top: -40vh;
        font-size: 9vh;
        position: absolute;
        color: #fff;
        border-radius: 30px;
        text-align: center;
        margin-left:-100px;
    }

    .top11-txt2 p{
        width: 630px;
        height: 10vh;
        margin-top: -15vh;
        padding-left: 4vh;
        font-size: 7vh;
        position: absolute;
        color: #fff;
    }
    .banner-sqr p{
        width: 350px;
        height: 20vh;
        background-color: #4ea0e422;
        margin-top: 85vh;
        position:absolute;
        left: 300px;
        border-radius: 50px;
    }
    .banner-sqr2 p{
        width: 250px;
        height: 15vh;
        background-color: #ffffff00;
        border: 2px solid black;
        border-color: #4ea0e484;
        margin-top: 95vh;
        position:absolute;
        left: 150px;
        border-radius: 40px;
    }





    #top2{
        height: 25vh;
        width: 800px;
        text-align: center;
        margin-left: 250px;
        padding-top: 7%;
        background-color: #4ea0e400;
        position: absolute;
        margin-top: 100vh;
        border-radius: 50px;
        border: 2px solid #4ea0e458;
    }
    #top2 h3{
        font-size: 10vh;
    }
    #top2 h4{
        font-size: 7vh;
    }




    #top3{
        height: 500vh;
        width: 1373px;
        text-align: center;
        padding-top: 3vh;
        position: absolute;
        margin-top: 135vh;
        background: linear-gradient(#3591ce33,#3591ce00);
    }
    .box{
        width: 1350px;
        height: 497vh;
        margin-left: 10px;
        border-radius: 50px;
        background-color: #357ace00;
        padding-top: 50px;
    }
    .project1{
        position: absolute;
        width: 1250px;
        height: 80vh;
        background-color: #ffffff99;
        border-radius: 100px;
        margin-top: 5vh;
        margin-left: 50px;
    }
    .project1 img{
        width:600px;
        height: 60vh;
        border-radius: 50px;
        margin-top: 50px;
        left: 50px;
        position: absolute;
    }
    .project1-box{
        width: 500px;
        height: 60vh;
        background-color: #ffffff2f;
        margin-top:50px;
        left: 700px;
        position: absolute;
        border-radius: 50px;
        font-size:100%;
        color:#fff;
    }
    .date{
        width:200px;
        height: 5vh;
        background-color: #00000048;
        border-radius: 30px;
        margin-left: 50px;
        margin-top: 40px;
        padding: 10px;
        font-size: 200%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight:bolder;
    }
    .txt{
        width:400px;
        height: 35vh;
        background-color: #3591ce;
        border-radius: 30px;
        margin-left: 50px;
        margin-top: 50px;
        padding:20px;
        font-size: 200%;
    }
    #feature-btn{
        position: absolute;
        padding-left: 850px;
        padding-top: 70vh;
    }
    
    #feature-btn a{
        width: 200px;
        height: 4vh;
        text-decoration: none ;
        font-size: 30px;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        color: #fff;
        position: relative;
        z-index: 1;
        transition: color o.5s;
        text-align: center;
        background-color: #025dcdac;
        opacity: 0.5;
        transition: opacity 1s ease;
        border-radius: 10px;
    }
    .feature-box:hover #feature-btn a {
        opacity: 1;
      }
    
      #btn-nav{
        width: 850px;
        height:75vh;
        right: 1400px;
        top: 2.5vh;
        background: #4ea0e4;
        z-index: 5;
        transition: 0.5s;
        text-align: left;
        border-radius: 50px;
        position:absolute;
        transition: 0.5s ease-in-out;
        padding:20px;
        color:#fff;
        font-size: 200%;
    }
   
   #btn-nav p{
      padding-top: 100px;
   }
   
    #featureclose-btn{
        margin-top: 7vh;
        margin-left: 550px;
        width: 200px;
        height: 5vh;
    }
    #featureclose-btn b{
        color: black;
        width: 200px;
        height: 4vh;
        text-decoration: none ;
        font-size: 30px;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        position: relative;
        z-index: 1;
        transition: color o.5s;
        text-align: center;
        transition: opacity 1s ease;
        background-color: #ffffff;
        border-radius: 10px;
    }
    nav ul{
        padding-top: 350px;
    }
    
    nav ul li{
        
        list-style: none;
        margin: 150px 40px;
        
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 200%;
        
    }
    





    .project2{
        position: absolute;
        width: 1250px;
        height: 80vh;
        background-color: #ffffff99;
        border-radius: 100px;
        margin-top: 105vh;
        margin-left: 50px;
    }
    .project2 img{
        width:600px;
        height: 60vh;
        border-radius: 50px;
        margin-top: 50px;
        left: 50px;
        position: absolute;
    }
    .project2-box{
        width: 500px;
        height: 60vh;
        background-color: #ffffff2f;
        margin-top:50px;
        left: 700px;
        position: absolute;
        border-radius: 50px;
    }
    .date1{
        width:200px;
        height: 5vh;
        background-color: #00000048;
        border-radius: 30px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .txt1{
        width:400px;
        height: 35vh;
        background-color: #00000048;
        border-radius: 30px;
        margin-left: 50px;
        margin-top: 60px;
    }
    #feature-btn1{
        position: absolute;
        padding-left: 850px;
        padding-top: 70vh;
    }
    
    #feature-btn1 a{
        width: 200px;
        height: 4vh;
        text-decoration: none ;
        font-size: 30px;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        color: #fff;
        position: relative;
        z-index: 1;
        transition: color o.5s;
        text-align: center;
        background-color: #025dcdac;
        opacity: 0.5;
        transition: opacity 1s ease;
        border-radius: 10px;
    }
    .feature-box:hover #feature-btn1 a {
        opacity: 1;
      }
    
      #btn1-nav{
        width: 850px;
        height: 75vh;
        right: 1400px;
        top: 2.5vh;
        background: #4ea0e4;
        z-index: 5;
        transition: 0.5s;
        text-align: left;
        border-radius: 50px;
        position:absolute;
        transition: 0.5s ease-in-out;
    }
    #featureclose-btn1{
        margin-top: 7vh;
        margin-left: 550px;
        width: 200px;
        height: 5vh;
    }
    #featureclose-btn1 b{
        color: black;
        width: 200px;
        height: 4vh;
        text-decoration: none ;
        font-size: 30px;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        position: relative;
        z-index: 1;
        transition: color o.5s;
        text-align: center;
        transition: opacity 1s ease;
        background-color: #ffffff;
        border-radius: 10px;
    }
    nav ul{
        padding-top: 350px;
    }
    
    nav ul li{
        
        list-style: none;
        margin: 150px 40px;
        
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 200%;
        
    }
    








     .project3{
        position: absolute;
        width: 1250px;
        height: 80vh;
        background-color: #ffffff99;
        border-radius: 100px;
        margin-top: 205vh;
        margin-left: 50px;
    }
    .project3 img{
        width:600px;
        height: 60vh;
        border-radius: 50px;
        margin-top: 50px;
        left: 50px;
        position: absolute;
    }
    .project3-box{
        width: 500px;
        height: 60vh;
        background-color: #ffffff2f;
        margin-top:50px;
        left: 700px;
        position: absolute;
        border-radius: 50px;
    }
    .date2{
        width:200px;
        height: 5vh;
        background-color: #00000048;
        border-radius: 30px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .txt2{
        width:400px;
        height: 35vh;
        background-color: #00000048;
        border-radius: 30px;
        margin-left: 50px;
        margin-top: 60px;
    }
    #feature-btn2{
        position: absolute;
        padding-left: 850px;
        padding-top: 70vh;
    }
    
    #feature-btn2 a{
        width: 200px;
        height: 4vh;
        text-decoration: none ;
        font-size: 30px;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        color: #fff;
        position: relative;
        z-index: 1;
        transition: color o.5s;
        text-align: center;
        background-color: #025dcdac;
        opacity: 0.5;
        transition: opacity 1s ease;
        border-radius: 10px;
    }
    .feature-box:hover #feature-btn2 a {
        opacity: 1;
      }
    
      #btn2-nav{
        width: 850px;
        height: 75vh;
        right: 1400px;
        top: 2.5vh;
        background: #4ea0e4;
        z-index: 5;
        transition: 0.5s;
        text-align: left;
        border-radius: 50px;
        position:absolute;
        transition: 0.5s ease-in-out;
    }
    #featureclose-btn2{
        margin-top: 7vh;
        margin-left: 550px;
        width: 200px;
        height: 5vh;
    }
    #featureclose-btn2 b{
        color: black;
        width: 200px;
        height: 4vh;
        text-decoration: none ;
        font-size: 30px;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        position: relative;
        z-index: 1;
        transition: color o.5s;
        text-align: center;
        transition: opacity 1s ease;
        background-color: #ffffff;
        border-radius: 10px;
    }
    nav ul{
        padding-top: 350px;
    }
    
    nav ul li{
        
        list-style: none;
        margin: 150px 40px;
        
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 200%;
        
    }
    










    .project4{
        position: absolute;
        width: 1250px;
        height: 80vh;
        background-color: #ffffff99;
        border-radius: 100px;
        margin-top: 305vh;
        margin-left: 50px;
    }
    .project4 img{
        width:600px;
        height: 60vh;
        border-radius: 50px;
        margin-top: 50px;
        left: 50px;
        position: absolute;
    }
    .project4-box{
        width: 500px;
        height: 60vh;
        background-color: #ffffff2f;
        margin-top:50px;
        left: 700px;
        position: absolute;
        border-radius: 50px;
    }
    .date3{
        width:200px;
        height: 5vh;
        background-color: #00000048;
        border-radius: 30px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .txt3{
        width:400px;
        height: 35vh;
        background-color: #00000048;
        border-radius: 30px;
        margin-left: 50px;
        margin-top: 70px;
    }
    #feature-btn3{
        position: absolute;
        padding-left: 850px;
        padding-top: 70vh;
    }
    
    #feature-btn3 a{
        width: 200px;
        height: 4vh;
        text-decoration: none ;
        font-size: 30px;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        color: #fff;
        position: relative;
        z-index: 1;
        transition: color o.5s;
        text-align: center;
        background-color: #025dcdac;
        opacity: 0.5;
        transition: opacity 1s ease;
        border-radius: 10px;
    }
    .feature-box:hover #feature-btn3 a {
        opacity: 1;
      }
    
      #btn3-nav{
        width: 850px;
        height: 75vh;
        right: 1400px;
        top: 2.5vh;
        background: #4ea0e4;
        z-index: 5;
        transition: 0.5s;
        text-align: left;
        border-radius: 50px;
        position:absolute;
        transition: 0.5s ease-in-out;
    }
    #featureclose-btn3{
        margin-top: 7vh;
        margin-left: 550px;
        width: 200px;
        height: 5vh;
    }
    #featureclose-btn3 b{
        color: black;
        width: 200px;
        height: 4vh;
        text-decoration: none ;
        font-size: 30px;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        position: relative;
        z-index: 1;
        transition: color o.5s;
        text-align: center;
        transition: opacity 1s ease;
        background-color: #ffffff;
        border-radius: 10px;
    }
    nav ul{
        padding-top: 350px;
    }
    
    nav ul li{
        
        list-style: none;
        margin: 150px 40px;
        
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 200%;
        
    }
    









    .project5{
        position: absolute;
        width: 1250px;
        height: 80vh;
        background-color: #ffffff99;
        border-radius: 100px;
        margin-top: 405vh;
        margin-left: 50px;
    }
    .project5 img{
        width:600px;
        height: 60vh;
        border-radius: 50px;
        margin-top: 50px;
        left: 50px;
        position: absolute;
    }
    .project5-box{
        width: 500px;
        height: 60vh;
        background-color: #ffffff2f;
        margin-top:50px;
        left: 700px;
        position: absolute;
        border-radius: 50px;
    }
    .date4{
        width:200px;
        height: 5vh;
        background-color: #00000048;
        border-radius: 30px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .txt4{
        width:400px;
        height: 35vh;
        background-color: #00000048;
        border-radius: 30px;
        margin-left: 50px;
        margin-top: 60px;
    }
    #feature-btn4{
        position: absolute;
        padding-left: 850px;
        padding-top: 70vh;
    }
    
    #feature-btn4 a{
        width: 200px;
        height: 4vh;
        text-decoration: none ;
        font-size: 30px;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        color: #fff;
        position: relative;
        z-index: 1;
        transition: color o.5s;
        text-align: center;
        background-color: #025dcdac;
        opacity: 0.5;
        transition: opacity 1s ease;
        border-radius: 10px;
    }
    .feature-box:hover #feature-btn4 a {
        opacity: 1;
      }
    
      #btn4-nav{
        width: 850px;
        height: 75vh;
        right: 1400px;
        top: 2.5vh;
        background: #4ea0e4;
        z-index: 5;
        transition: 0.5s;
        text-align: left;
        border-radius: 50px;
        position:absolute;
        transition: 0.5s ease-in-out;
    }
    #featureclose-btn4{
        margin-top: 7vh;
        margin-left: 550px;
        width: 200px;
        height: 5vh;
    }
    #featureclose-btn4 b{
        color: black;
        width: 200px;
        height: 4vh;
        text-decoration: none ;
        font-size: 30px;
        display: inline-block;
        margin: 0 10px;
        padding: 12px 0;
        position: relative;
        z-index: 1;
        transition: color o.5s;
        text-align: center;
        transition: opacity 1s ease;
        background-color: #ffffff;
        border-radius: 10px;
    }
    nav ul{
        padding-top: 350px;
    }
    
    nav ul li{
        
        list-style: none;
        margin: 150px 40px;
        
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 200%;
        
    }





    #anything-else{
        position: absolute;
        margin-top: 670vh;
        width: 1363px;text-align: center;
        font-size: 400%;
    }
    .search1{
        position: absolute;
        height: 200px;
        width: 1363px;
        top: 40vh;
    
    }
    #search1-bar{
        position: absolute;
        height: 180px;
        width: 1120px;
        background-color: #5488e94b;
        border: 1px solid black;
        border-color: #4ea0e422;
        border-radius: 100px;
        font-size: 100%;
        text-align: left;
        padding-left: 80px;
        left: 6%;
    }
    #search1-button{
        width: 120px;
        height: 120px;
        position: absolute;
        margin-top: 40px;
        left: 1100px;
        background-color: #357ace00;
        border: 1px solid black;
        border-color: #357ace00;
    }
    #search1-button img{
        width: 120px;
        height: 120px;
    }
    #suggestions1 {
        list-style-type: none;
        background-color: #ffffff;
        width: 900px;
        margin-left: 200px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        margin-top: 25vh;
        display: none;
        border-radius: 20px;
        text-decoration: none ;
        z-index: 1;
        position: absolute;
    }
    #suggestions1 li {
        background-color: #0045bba7;
        height: 200px;
        width: 850px;
        padding: 18px;
        cursor: pointer;
        border-radius: 20px;
        margin-bottom:25px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        z-index: 99;
    }
    #suggestions1 li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 120%;
        width: 200%;
    }
    
    #suggestions1 li:hover {
        background-color: #0045bb;
    }
    .search1-bar-active #suggestions1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        display: block; /* Show the suggestions box when search bar is active */
    }
    

    #buttons{
        position: absolute;
        margin-top: 750vh;
        width: 1320px;
        text-align: center;
        font-size: 400%;
        height: 1000px;
        margin-left: 30px;
    }
    .navigation-button {
        background-color: #5488e9a3;
        border: none;
        color: white;
        padding: 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        margin: 20px;
        cursor: pointer;
        border-radius: 10px;
        height: 150px;
        border-radius: 50px;
      }
    
      .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    
    
  .socials{
    width: 100%;
    height: 500px;
    margin-top: 30vh;
    position: absolute;
    border-radius: 20px;
}
.socials img{
    float: center;
    margin: 10px;
    margin-right: 150px;
    margin-top: 100px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #3591ce00;
}
.socials button{
    background-color: #00000000;
    border: 1px solid black;
    border-color: #fff;
}
.socials a{
   background-color: #3591ce00;
}
}
